body
{
}
.Dynamictable
{
    width: 200px;
    background-color: white;  
    border-collapse: collapse;
    border-spacing: 2px;
    azimuth: left;
    font-size: 12px;
}
.Bodytd
{
    width: 150px;
    border-collapse: collapse;
    border-color: Black;
    azimuth: left-side;
    direction: ltr;
    height: 2px;
    color: Red;
    font-size: 12px;
}
.panel
{
    width: 250px;
    font-size: 15px;
    height: 150px;
}
.lblControl
{
    color: Red;
    width: 150px;
    height: 5px;
    font-size: 12px;
}
.lblMsg
{
    color: Blue;
    width: 250px;
    height: 5px;
    font-size: 12px;
}



