<%@ Master Language="C#" MasterPageFile="~/First.Master" AutoEventWireup="true" CodeBehind="NestedMaster.master.cs" Inherits="ASP_Day9_10.NestedMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2 align="center"><asp:Label ID="LblMaster" runat="server" Text="This is Nested Master Page" 
                style="font-weight: 700"></asp:Label></h2>
</asp:Content>
