<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" defaultUrl="Main_Page.aspx"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=UNIAD20\SQLEXPRESS;Initial Catalog=Northwind_Bhumi;User ID=sa;Password=Rajesh@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
