<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body
{
background-color:Gray;
}
form
{
text-align:left;
}
h1
{
color: orange;
font-style:"Arial";
}
pd
{
text-align:center;
}
Table
{
border:2px solid black;
background-color:Aqua;
}
span
{
color:Red;
}
td
{
font-family:"Times New Roman";
}
button
{
font-style:"Times New Roman";
}
</style>
</head>