body
{
}
.Dynamictable
{
    width:150px;
    background-color:white;
    border-collapse: collapse;    
    border-spacing: 2px;
    azimuth: left;
}
.Bodytd
{
    width: 200px;
    border-collapse: collapse;
    border-color: Black;
    azimuth: left-side;
    direction: ltr;
    height: 5px;
    color: Red;
}

.panel
{
    width: 350px;
    font-size: 15px;
    height: 100px;
}

.lblMsg
{  
    color:Blue;
    width: 150px;
    height: 5px;
    font-size: 18px;
}
.lblErrorMsg
{  
    color:Red;
    width: 150px;
    height: 5px;
    font-size: 12px;
}
.lblControl
{
    color: Red;
    width: 150px;
    height: 5px;
    font-size: 12px;
}


