<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="ShellItems" type="CABApplication.ShellItemsSection,CABApplication"/>
    <section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <CompositeUI>
    <services>
      <add 	
        serviceType="Microsoft.Practices.CompositeUI.Services.IStatePersistenceService, Microsoft.Practices.CompositeUI"
				instanceType="Microsoft.Practices.CompositeUI.Services.IsolatedStorageStatePersistenceService, Microsoft.Practices.CompositeUI" />              
    </services>
  </CompositeUI>
  <ShellItems>
    <menuitems>
      <add id="1" site="FileDropDown" label="Registration &amp;Form" commandname="FileRegistartionForm" key=""></add>
      <add id="2" site="FileDropDown" label="List &amp;Screen" commandname="FileListscreen" key=""></add>
      <add id="3" site="FileDropDown" label="E&amp;xit" commandname="FileExit" key="Alt,F4"></add>
    </menuitems>
  </ShellItems>
  <appSettings>
    <add key="connection" value="Data Source=UNIAD01;Initial Catalog=Northwind_Monal;Persist Security Info=True;User ID=sa;Password=sa"/>
  </appSettings>
</configuration>