body
{
	 font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
}
h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table {
    width: 580px;
    padding: 10px;
    background-color: #FAFAD2;
    margin:right ;
  border-color: #006666;
  border-width: 3px;
  border-style: solid;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
   margin-right:auto;
}

a:link:hover {
   color: #be7429;
   font-weight: normal;
   text-decoration: underline;
}
 
 RoundedBgGray{ background: transparent; width: 100%; margin: 0 auto;} 

RoundedBgGray boxcontent{display: block; background: #646464; border-left: 1px solid #646464; border-right: 1px solid #646464;} 